<section class="g-mb-100">
  <div class="container">
    <div class="row">
      <!-- Profile Sidebar -->
      <div class="col-lg-3 g-mb-50 g-mb-0--lg">
        <!-- User Image -->
        <div class="u-block-hover g-pos-rel">
          <figure>
            <%= image_tag "SGHeadshot.PNG", class: "img-fluid w-100 u-block-hover__main--zoom-v1" %>
          </figure>

          <!-- Figure Caption -->
          <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
            <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
              <!-- Figure Social Icons -->
              <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                    <i class="icon-note u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                    <i class="icon-notebook u-line-icon-pro"></i>
                  </a>
                </li>
                <li class="list-inline-item align-middle g-mx-7">
                  <a class="u-icon-v1 u-icon-size--md g-color-white" href="#">
                    <i class="icon-settings u-line-icon-pro"></i>
                  </a>
                </li>
              </ul>
              <!-- End Figure Social Icons -->
            </div>
          </figcaption>
          <!-- End Figure Caption -->
        </div>
      </div>
      <!-- End Profile Sidebar -->

      <!-- Profile Content -->
      <div class="col-lg-9">

        <!-- Projects & Activities Panels -->
        <div class="row g-mb-40">
          <div class="col-lg-6 g-mb-40 g-mb-0--lg">
            <!-- Latest Projects Panel -->
            <div class="card border-0">
              <!-- Panel Header -->
              <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                <h3 class="h6 mb-0">
                  <i class="icon-layers g-pos-rel g-top-1 g-mr-5"></i> Your Recent Posts
                </h3>
              </div>
              <!-- End Panel Header -->

              <!-- Panel Body --> <!-- Comments Panel -->
              <div class="js-scrollbar card-block u-info-v1-1 g-bg-white-gradient-v1--after g-height-400 g-pa-0">
                <ul class="list-unstyled">
                  <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-blue-left rounded g-pa-20 g-mb-10">
                    <div class="d-flex g-mt-2 g-mr-15">
                      <img class="g-width-40 g-height-40 rounded-circle" src="../../assets/img-temp/100x100/img1.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="h6 g-font-weight-600 g-color-black">Unify Template</h5>
                        <span class="small text-nowrap g-color-blue">2 min ago</span>
                      </div>
                      <p>Curabitur hendrerit dolor sit amet consectetur. Adipiscing elitut leosit amet, consectetur
                        eleifend.</p>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">HTML</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">AnhularJS</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">PHP</span>
                    </div>
                  </li>

                  <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-pink-left rounded g-pa-20 g-mb-10">
                    <div class="d-flex g-mt-2 g-mr-15">
                      <!-- <img class="g-width-40 g-height-40 rounded-circle" src="../../assets/img-temp/100x100/img5.jpg" alt="Image Description"> -->
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="h6 g-font-weight-600 g-color-black">UX/UI Design and Backend</h5>
                        <span class="small text-nowrap g-color-pink">16 min ago</span>
                      </div>
                      <p>Hac consectetur habitasse platea dictumst, adipiscing elitut leosit amet, consectetur
                        eleifend.</p>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">CSS</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-color-black g-rounded-20 g-px-10">JavaScript</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">Ruby</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">ASP.NET</span>
                    </div>
                  </li>

                  <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-black-left rounded g-pa-20 g-mb-10">
                    <div class="d-flex g-mt-2 g-mr-15">
                      <img class="g-width-40 g-height-40 rounded-circle" src="../../assets/img-temp/100x100/img4.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <div class="d-flex justify-content-between">
                        <h5 class="h6 g-font-weight-600 g-color-black">React Native App</h5>
                        <span class="small text-nowrap g-color-blue">2 min ago</span>
                      </div>
                      <p>Curabitur hendrerit dolor sit amet consectetur. Adipiscing elitut leosit amet, consectetur
                        eleifend.</p>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">ReactJS</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">CSS</span>
                      <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10">HTML</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- End Panel Body -->
            </div>
            <!-- End Latest Projects Panel -->
          </div>
          <!-- Panel Header --> <!-- quote of the day -->
          <div class="col-md-6">
            <div class="card border-0">
              <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
                <h3 class="h6 mb-0">
                  <i class="icon-directions g-pos-rel g-top-1 g-mr-5"></i> Quote of the day
                </h3>
              </div>
              <div class="g-bg-main fontColorBronzish g-color-black g-pa-25">
                <h3> <b>Your mom</b> </h3>

              </div>
            </div>
          </div>
          <!-- End Panel Header -->
        </div>
        <!-- End Projects & Activities Panels -->
        <!-- User Contacts Panel -->
        <div class="card border-0 rounded-0 g-mb-50">
          <!-- Panel Header -->
          <div class="card-header d-flex align-items-center justify-content-between g-bg-gray-light-v5 border-0 g-mb-15">
            <h3 class="h6 mb-0">
              <i class="icon-notebook g-pos-rel g-top-1 g-mr-5"></i> Add a comment <!-- need to make a container for a discussion panel. Allows adding
              comments/ scroll through book clubs, etc -->
            </h3>
          </div>
        </div>

        <div class="card-block g-pa-0">
          <!-- User Contacts -->
          <div class="row">
            <div class="col-md-4 g-mb-30 g-mb-0--md">
             There should be a container here
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
  <i class="hs-icon hs-icon-arrow-top"></i>
</a>
</main>

<div class="u-outer-spaces-helper"></div>



<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
            spacing: 2
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
            var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
                direction: 'horizontal',
                indicatorSelector: '.js-hr-progress-bar-indicator'
            });
        }, 1);
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>



