<!-- Signin Form -->
<%= javascript_include_tag "login_page_js_login" %>
<div class="container g-pt-100 g-pb-100 g-pb-130--lg">
  <div class="row justify-content-between">
    <div class="col-md-6 col-lg-5 order-md-2 g-pos-abs--md g-absolute-centered ">
      <%= render 'devise/sessions/newLogin' %>
      <%= render 'devise/passwords/newLogin' %>
      <%= render 'devise/registrations/newLogin' %>
    </div>
  </div>
</div>

<!-- End Signin Form -->
