/* header logo */

#HeaderLogo{
    width: 200px;
    height: auto;
}


.g-color-bronzish-opacity-0_7, .g-color-bronzish-opacity-0_7--hover:hover {
    color: rgba(107,102,61, 0.7) !important;
}

.u-block-hover:hover .g-color-bronzish--hover, .g-color-bronzish--hover:hover {
    color: #6B663D !important;
}
/* log in page */
.termsnConditions{
    font-size: 7px;
    margin-right: 5px;
}

#centerImage{
    display: inline-block;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

#Logo1{
    width: 225px;
    height: auto;
    margin-bottom: 7.5px;
}

.fontColorBronzish{
    color: #6B663D !important;
}

.fontColorBronzishDarker {
    color: #4A472A !important;
}


/*center image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.password_field_css{
    max-width: 222px !important;
}

footer {
    position: fixed;
    height: XXX;
    bottom: 0;
    width: 100%;
}