<!-- Header -->
<header id="js-header" class="u-header">
  <div class="u-header__section">
    <!-- Topbar -->
    <div class="g-bg-main">
      <div class="container g-py-5">
        <ul class="list-inline d-flex align-items-center g-mb-0">
          <li class="list-inline-item d-none d-lg-inline-block">
            <%=image_tag "ReadSaverLogoTrans.png", id: "HeaderLogo" %>
          </li>


          <!-- Jump To -->

          <!-- End Jump To -->

          <% if false %>
            <%= render 'layouts/signedIn' %>
          <% else %>
            <%= render 'layouts/notSignedIn' %>
            <%end %>

          <!-- Search -->

          <!-- End Search -->
        </ul>
      </div>
    </div>
    <!-- End Topbar -->


      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- End Header -->