<!-- Header -->
<header id="js-header" class="u-header">
  <div class="u-header__section">
    <!-- Topbar -->

    <% if user_signed_in? %>
      <%= render 'layouts/signedIn' %>
    <% elsif current_page?(login_path)%>
      <%=render 'layouts/loginHeader' %>
      <% else %>
      <%= render 'layouts/notSignedIn' %>
    <% end %>

    <!-- Search -->

    <!-- End Search -->
    </ul>
  </div>
  </div>
  <!-- End Topbar -->


  <!-- End Nav -->
  </div>
  </div>
</header>
<!-- End Header -->