<div class="g-bg-main">
  <div class="container g-py-5">
    <!-- Links -->
    <ul class="list-inline d-flex align-items-center g-mb-0">
      <li class="list-inline-item d-lg-inline-block">
        <%=link_to root_path, method: :get do %>
          <%=image_tag( "ReadSaverLogoTrans.png", id: "HeaderLogo") %>
        <% end %>
      </li>
      <div class="ml-auto" >
        <%= render 'devise/sessions/new_header' %>
      </div>
    </ul>
  </div>
</div>

<!-- End Links -->
