<!-- Links -->
<li class="list-inline-item d-none d-lg-inline-block">
  <a class="u-link-v5 u-shadow-v19 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-12 text-uppercase g-rounded-20 g-px-18 g-py-8 g-ml-10" href="page-signin-1.html">Sign
    in</a>
</li>
<!-- End Links -->