<!-- Links -->
<li class="list-inline-item d-none d-lg-inline-block">
  <%= link_to "Home", home_path, class: "g-font-size-12 text-uppercase g-px-10 g-py-15 u-link-v5 g-color-bronzish-opacity-0_7 g-color-bronzish--hover headerTextColor"%>
</li>
<li class="list-inline-item d-none d-lg-inline-block">
  <%= link_to "Hoot", hoot_path, class: "g-font-size-12 text-uppercase g-px-10 g-py-15 u-link-v5 g-color-bronzish-opacity-0_7 g-color-bronzish--hover headerTextColor"%>
</li>
<li class="list-inline-item d-none d-lg-inline-block">
  <%= link_to "Followers", followers_path, class: "g-font-size-12 text-uppercase g-px-10 g-py-15 u-link-v5 g-color-bronzish-opacity-0_7 g-color-bronzish--hover headerTextColor"%>
</li>
<li class="list-inline-item d-none d-lg-inline-block">
  <%= link_to "Following", following_path, class: "g-font-size-12 text-uppercase g-px-10 g-py-15 u-link-v5 g-color-bronzish-opacity-0_7 g-color-bronzish--hover headerTextColor"%>
</li>

<!-- End Links -->